@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Satisfy', cursive;
    letter-spacing: 2px;
    box-sizing: border-box;
}
i{
    margin: auto 0.4rem;
}
:root{
    --font-size:8rem;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --transition: all 0.3s;
}
html{
    font-size:62.5% ;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
    box-shadow: 0 0 5rem 0.2rem rgba(0, 0, 0, 0.1);
    height: 8rem;
    padding: 0 12rem;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo h1{
    font-size: 5.7rem;
    margin-left: 3rem;
}
    

nav img{
    height: 8.1rem;
    width: 15.3rem;
}
nav ul{
    display: flex;
    

}
nav li{
    list-style: none;
}
nav a{
    font-size: 3.6rem;
    margin: 0 1rem;
    text-decoration: none;
    color: black;
    padding: 0 1.4rem;
}
nav a:hover{
    border-bottom: 2px solid black;
}
nav button{
    height: 5.2rem;
    width: 14.4rem;
    border-radius: 30px;
    background: #BBDD31;
    outline: none;
    border: none;
    font-size: 2.7rem;
}
.first{
    width: 100vw;
    height: calc(100vh - 8rem);
    background: url("images/Horizon.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 50% 100%, 0 83%);
    display: flex;
    overflow: hidden;
    scrollbar-width: none;

}
.first::-webkit-scrollbar{
    display: none;
}
.first .welcome{
    width: 40rem;
    height: 50rem;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 2rem;
    margin-left: 30rem;

}
.first .welcome h2{
    color: white;
    font-size: 7rem;
    font-weight: 600;
    width: 19rem;
    text-align: center;
}
.first .welcome h1{
    color: white;
    font-size: 20rem;
    font-weight: 600;
    
}
.first .welcome p{
    font-size: 2rem;
    font-weight: 500;
    color: white;
    width: 36.5rem;
    text-align: center;

}
.first .abt{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 27rem;
    right: 20rem;
}
.first .abt .art{
    height: 33.3rem;
    width: 23.6rem;
    margin-right: 13rem;
    /* background: white; */
    border-radius: 3rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.first .abt .art img{
    height: 19rem;
    width: 29rem;
    border-radius: 3rem ;
    border: 0.5rem solid white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.first .abt .art .para{
    width: 29rem;
}
.first .abt .art .para h1{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: white;
    text-shadow: 0.4rem 0.7rem 3.5rem rgba(0, 0, 0, 0.3);
}
.first .abt .art .para p{
    font-size: 2rem;
    font-weight: 500;   
    text-align: center;
    color: white;
}

.first .abt .computer{
    height: 33.3rem;
    width: 23.6rem;
    margin-right: 8rem;
    /* background: white; */
    border-radius: 3rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
.first .abt .computer img{
    height: 19rem;
    width: 29rem;
    border-radius: 3rem ;
    border: 0.5rem solid white;
}
.first .abt .computer .para{
    width: 29rem;
}
.first .abt .computer .para h1{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    color: white;

}
.first .abt .computer .para p{
    font-size: 2rem;
    font-weight: 500;   
    text-align: center;
    color: white;
}


/* ABOUT */


.about{
    width: 100vw;
    /* height: 100vh; */
    /* overflow: hidden; */
    scrollbar-width: none;
    
    
}
.about::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(100% 0, 100% 30%, 0 100%, 0 70%);
    background: linear-gradient(215deg,#020024,#096f79,#00ffe2 );
    z-index: -1;
    opacity: 0.85;
}
.about .ab{
    margin-top: 1rem;
    margin: 1rem 0 auto;
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.about .ab h1{
    text-align: center;
    /* font-size: var(--font-size); */
    font-size: 8rem;
    color: black;
    margin: 0 auto;
    border-bottom: 0.3rem solid black;
    display: inline;
    
}
.colection{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    grid-gap: 2rem;
    padding: 6rem;
    grid-auto-flow: dense;
}
.card{
    background: rgb(15, 15, 15);
    border-radius: 2rem;
    height: 32rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.card::after{
    content: "";
    display: block;
    padding-top: calc(100% / (16/10));
}
.card img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease-in-out;
}
.card:hover + img{
    opacity: 0.89;
    
    height: 70%;
    width: 104%;
}
.card h1{
    font-size: 5rem;
    padding: 2rem;
    color: white;
}
/* contect */
.contect{
    width: 100vw;
  
   
}
.contect::before{
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(100% 0, 100% 30%, 0 100%, 0 70%);
    background: linear-gradient(215deg,#020024,#096f79,#00ffe2 );
    z-index: -1;
    opacity: 0.85;
}
.contect .abt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10rem;
}
.contect h1{
    text-align: center;
    font-size: var(--font-size);
    color: black;
}
.contect .cont{
    width: 60rem;
    height: 70rem;
    box-shadow: var(--box-shadow);
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    border-radius: 2.5rem;
    transition: all 0.3s;
}
.contect .cont:hover{
    transform: translateY(-2rem);
}
.cont h1{
    color: white;
    font-size: 7rem;
}
.cont .sa p{
    font-size: 2rem;
}
.contect .cont .profile{
    height: 13rem;
    width: 13rem;
   
}
.contect .cont .profile img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}
.contect .social a{
    font-size: var(--font-size);
    text-transform: capitalize;
    color: white;
    text-decoration: none;
}
.contect .social .facebook:hover{
    transform: translateX(2rem) ;
}
.contect .cont .name p{
    width: 22rem;

}
.contect .social .facebook{
    width: 50rem;
    height: 15rem;
    box-shadow: var(--box-shadow);
    margin: 1rem;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: #3b5998;
    border-radius: 2.5rem;
    transition: var(--transition);
}
.social i{
    font-size: 10rem;
   color: white;
}
.contect .social .whatsapp{
    width: 50rem;
    height: 15rem;
    box-shadow: var(--box-shadow);
    margin: 1rem;    
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
    transition: var(--transition);
    border-radius: 2.5rem;
    -webkit-hover: none;
}
.contect .social .whatsapp:hover{
    transform: translateX(2rem) ;
}
.whatsapp h2{
    font-size: 4rem;
}
.corse{
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.corse h1{
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
}
.corse p{
    font-size: 3rem;
    color: rgb(37, 37, 37);
    font-weight: 700;
}
.corse .cor{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 7rem;
}
.corse .cors{
    height: 60rem;
    width: 40rem;
    box-shadow: var(--box-shadow);
    border-radius: 2.5rem;
    display: flex;
    flex: 1 30rem;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    transition: var(--transition);
    margin: 2rem;
}
.corse .cor .cors:hover{
   transform: translateY(-3rem);
}
.corse .cors h1{
    font-size: 2.7rem;
    background: mediumaquamarine;
    padding: 2rem;
    border-radius: 25rem;
    text-align: center;
    
}
.c p{
   font-size: 2rem;
   margin-bottom: 3rem;
   text-align: center;
   word-wrap: break-word; 
}
.cors ul li{
    line-height: 4rem;
}
.cors ul li p{
    color: black;
    font-size: 1.8rem;

}
.cors ul li span{
    font-weight: 800;
    font-size: 1.9rem;
}
div.cors1 h1{
    margin-bottom: 0;
}
 /* 1 */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    html{
        font-size: 40%;
    }
    .first{
        justify-content: center;
    }
    .first .welcome{
        margin-left: 0;
        
    }
    .contect .cont{
        flex: 1;
    }
    .social .facebook{
        margin: 1rem;
    }
    .social .whatsapp{
        margin: 1rem;
    }


}
/* ipad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}
/* 2 */
@media(max-width:360px){
   
}



